body{
    margin: 0;
    padding-top: 60px;
}

h1{
    font-family: 'Bitter', serif;
    font-size: 66px;
    font-weight: 800;
    letter-spacing: 2pt;
}

.first-section{
    padding-left: 200px;
    padding-right: 100px;
    display: flex;
    padding-top: 60px;
}

.first-section-head{
    font-family: 'Bitter', serif;
    padding-left: 15px;
    font-size: 66px;
    font-weight: 800;
    letter-spacing: 2pt;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.mission-border-left{
    border-left: 5px solid #003F63;
    border-radius: 3px;
}

.half-width{
    width: 50%;
}

img{
    width: 80%;
}

.button-link{
    text-decoration: none;
    padding: 20px 40px;
    background-color: #003F63;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mission-section{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
}

.mission-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

.mission-text{
    font-family: 'Roboto', sans-serif;
}

.mission-header{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

#mission-box-1{
    background-color: #E6F3FF;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 10px;
}

#mission-box-2{
    background-color: #ffe6e6;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 10px;
}

#mission-box-3{
    background-color: #fffae6;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 10px;
}

.box-image{
    width: 40%;
}

.develop-section-1{
    display: flex;
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-position-x: 55px;
    background-position-y: 120px;
    background-size: 20%;
}

.develop-section-2{
    display: flex;
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position-x: 1470px;
    background-position-y: 300px;
}

.div-left{
width: 40%;
}

.div-right-img{
    text-align: right;
}

.div-right{
    width: 60%;
}

#div-right{
    padding-right: 100px;
}

.develop-header{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.last-section{
    background: linear-gradient(0deg, rgba(220, 242, 255, 0.15), rgba(0, 63, 99, 0.698)), url(images/homepage-bg.jpg);
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 200px;
}

.text-white{
    color: white;
}

.button-link-1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 20px 40px;
    background-color: white;
    color: #003F63;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(0, 0, 26);
    color: white;
}

.footer-head{
    font-family: 'Lobster', cursive;
    font-size: 42px;
    font-weight: normal;
}

.footer-text{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.698);
}